[submodule "projects/ebur128/c"]
	path = projects/ebur128/c
	url = https://github.com/jiixyj/libebur128.git
[submodule "projects/liburing/c"]
	path = projects/liburing/c
	url = https://github.com/axboe/liburing.git
[submodule "projects/libyaml/c"]
	path = projects/libyaml/c
	url = https://github.com/yaml/libyaml.git
[submodule "projects/libcyaml/c"]
	path = projects/libcyaml/c
	url = https://github.com/tlsa/libcyaml.git
[submodule "projects/zlib/c"]
	path = projects/zlib/c
	url = https://github.com/madler/zlib.git
